In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("../data_selected/syncan/train.csv")

df.shape

df.head()

   Label         Time  ID   Signal1   Signal2   Signal3   Signal4
0      0  2150.885618   3  1.000000  1.000000       NaN       NaN
1      0  2285.011514   8  0.250253       NaN       NaN       NaN
2      0  2400.475551   1  0.000000  0.000000       NaN       NaN
3      0  2479.052781  10  0.440825  0.333333  0.925177  0.158725
4      0  2540.885618   3  0.200000  1.000000       NaN       NaN

In [4]:
for col in ['Signal1', 'Signal2', 'Signal3', 'Signal4']:
    df[f'{col}_Missing'] = df[col].isna().astype(int)

df.fillna(0, inplace=True)

df.head()

,Label,Time,ID,Signal1,Signal2,Signal3,Signal4,Signal1_Missing,Signal2_Missing,Signal3_Missing,Signal4_Missing
0,0,2150.885618,3,1.000000,1.000000,0.000000,0.000000,0,0,1,1
1,0,2285.011514,8,0.250253,0.000000,0.000000,0.000000,0,1,1,1
2,0,2400.475551,1,0.000000,0.000000,0.000000,0.000000,0,0,1,1
3,0,2479.052781,10,0.440825,0.333333,0.925177,0.158725,0,0,0,0
4,0,2540.885618,3,0.200000,1.000000,0.000000,0.000000,0,0,1,1

In [5]:
df.to_csv("../data_selected/syncan/train_flags.csv", index=False)

In [6]:
df.shape

(1000000, 11)